<launch>
  <node name="nmea_gps_publisher" pkg="nmea_gps_driver_mod" type="gpsbabel_nmea_publish.py" output="screen" respawn="true" >
  </node>


  <node name="nmea_navsat_driver" pkg="nmea_navsat_driver" type="nmea_topic_driver" respawn="true" >
    <param name="use_RMC" type="bool" value="false" />
  </node>


</launch>

